*{
    margin: 0;
    padding: 0;
}
body{
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
    background-color: #d5e1ef;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
}
.image-background{
    width: 300px;
    display: flex;
    flex-direction: column; 
    border-radius: 10%;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
}
body h3{
    
    margin: 10px;
}
.image-background img{
    max-width: 100%;
    border-radius: 10%;
    margin: 3px;
}
.image-background p{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(250, 2%, 53%);
}